// app-character-card {
//   /* margin: 2em; */
//   text-align: center;
// }

.film-data {
  width: 100%;
}

.btn-change-film {
  margin: 10px;
  // padding: 15px;
  background: #795af5;
  color: white;
}

@media (max-width: 560px) {
  // app-character-card {
  //   width: 100%;
  // }
}

@media (min-width: 561px) and (max-width: 900px) {
  // app-character-card {
  //   width: 50%;
  // }
}

@media (min-width: 901px) {
  // app-character-card {
  //   width: 33%;
  // }

  .film-data {
    width: 35%;
  }
}

.pointer {
  cursor: pointer;
}

.goback {
  display: flex;
  align-items: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  overflow-y: auto;
  height: calc(100vh - 90px - 4rem);
}

.header-card {
  height: 90px;
  position: sticky;
  top: 0;
  margin: 1rem;
}

.all-section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}